<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="DBType" value="MPIClient.DataAccess.SqlServerDatabase"/>
    <add key="ImagePath" value="C:\FingerprintImages"/>
    <add key="NumberOfSyn" value="1"/>
    <add key="RequestTimeOut" value="10000"/>
    <!--Set every form of this app to be topmost. Value can be "true" or "false"-->
    <add key="topmost" value="false"/>
    <!--<add key="Server" value="http://localhost"/>-->

    <!--<add key="Server" value="http://192.168.2.62/projects/mpi_server/index.php"/>-->
	<add key="client_id" value="nk474e4c2d25e491c1f4e153e7c4ec56d8"/>
	<add key="client_secret" value="nsa6721f17ca46e9961e5247daad25bc3e"/>
	  
	  
	  
    <add key="Server" value="http://localhost/mpi_server/index.php"/>
    <add key="IdentifyURL" value="/patientws/search"/>
    <add key="EnrollURL" value="/patientws/enroll"/>
	<add key="access_token_url" value="/api/oauth/token"/>
    
    <add key="SynURL" value="/patientws/synchronize"/>
    <add key="SynUpdateURL" value="/patientws/synchronizeupdate"/>
    <add key="EnrollServiceURL" value="/patientws/createservice"/>
  </appSettings>
    <connectionStrings>
        <add name="CoreDSN" connectionString="Data Source=(local);Initial Catalog=MPIClient;User id=sa;password=12345;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
