<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CoreDSN"
      connectionString="Data Source=NONAME;Initial Catalog=MPIClientTest;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DBType" value="MPIClient.DataAccess.SqlServerDatabase"/>
    <add key="ImagePath" value="C:\FingerprintImages"/>
    <add key="NumberOfSyn" value="1"/>
    <add key="RequestTimeOut" value="10"/>
    <!--<add key="Server" value="http://localhost"/>-->

    <!--<add key="Server" value="http://192.168.2.65/projects/mpi_server/index.php"/>-->
    <add key="Server" value="http://192.168.1.145/projects/mpi_server/index.php"/>
    <add key="IdentifyURL" value="/patientws/search"/>
    <add key="EnrollURL" value="/patientws/enroll"/>

    <add key="SynURL" value="/patientws/synchronize"/>
    <add key="SynUpdateURL" value="/patientws/synchronizeupdate"/>
    <add key="EnrollServiceURL" value="/patientws/createservice"/>
  </appSettings>
</configuration>